@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --color-darkBg: #0b0c0e;
  --color-cardPink: #f2a095;
  --color-cardCyan: #4de4be;
  --color-brandOrange: #cc6a00;
  --color-brandGreen: #7bb026;
}